body {
  text-align: center;
  margin: 0;
 }

h1 {
  color: #333;
}

#question {
  font-size: 24px;
  margin: 20px 0;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#result {
  font-size: 20px;
  margin-top: 20px;
}

#counter {
  font-size: 16px;
  margin-top: 10px;
}

.container_vocabulary {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customVocabularyList {
  width: fit-content;
  /* height: fit-content; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  }

.customVocabularyList div {
  height: 75px;
  width: 75px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding-left: 2px;
  padding-right: 2px;
  }

  .deleteButton {
    height: 10px;
    width: 10px;
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
  }